[submodule "easy-engine-core/include/spdlog_complete"]
	path = easy-engine-core/include/spdlog_complete
	url = git@github.com:gabime/spdlog.git
[submodule "easy-engine-script-bindings/include/ChaiScript"]
	path = easy-engine-script-bindings/include/ChaiScript
	url = git@github.com:ChaiScript/ChaiScript.git
[submodule "easy-engine-core/lib/assimp"]
	path = easy-engine-core/lib/assimp
	url = git@github.com:assimp/assimp.git
[submodule "vendor/all/glfw"]
	path = vendor/all/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/all/glew"]
	path = vendor/all/glew
	url = git@github.com:nigels-com/glew.git
[submodule "vendor/all/nuklear"]
	path = vendor/all/nuklear
	url = git@github.com:vurtun/nuklear.git
[submodule "vendor/all/bullet3"]
	path = vendor/all/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "vendor\\all\\bullet3"]
	path = vendor\\all\\bullet3
	url = https://github.com/bulletphysics/bullet3.git
